language: c
sudo: required
dist: trusty
before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
    - sudo apt-get install --yes -qq gcc-6 g++-6
    - sudo apt-get install libssl-dev open-iscsi docker.io
    - sudo apt-get install libjson-c-dev
    # use gcc-6 by default
    - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-6 /usr/bin/gcc
    - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-6 /usr/bin/g++
install:
    - ./configure --with-replication
    - sudo make
script:
    # run ztest and test supported zio backends
    - travis_wait 60 sudo bash ./test_istgt.sh || travis_terminate 1;
