language: c
sudo: required
dist: bionic
services:
  - docker

jobs:
  include:
    - os: linux
      arch: amd64
      env:
        - RELEASE_TAG_DOWNSTREAM=1
    - os: linux
      arch: arm64
      env:
        - RELEASE_TAG_DOWNSTREAM=0

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq
    - sudo apt-get install --yes -qq gcc-6 g++-6 gdb
    - sudo apt-get install libssl-dev open-iscsi libjson-c-dev ioping jq net-tools
    # use gcc-6 by default
    - sudo unlink /usr/bin/gcc && sudo ln -s /usr/bin/gcc-6 /usr/bin/gcc
    - sudo unlink /usr/bin/g++ && sudo ln -s /usr/bin/g++-6 /usr/bin/g++
install:
    - ./autogen.sh
    # we are running build two times. One is without replication code and
    # another one is with replication code. The reason behind running build
    # without replication code is to make sure that replication feature
    # related code doesn't break the existing target code.
    - ./configure
    - make
    - make clean
    - ARCH=$(uname -m)
    - echo ARCH "$ARCH"
    - |
      if [ "${ARCH}" = "x86_64" ]; then
      ./configure --enable-debug --enable-replication
      elif [ "${ARCH}" = "aarch64" ]; then
      ./configure --enable-debug --enable-replication --build=arm-linux
      fi
    - make
script:
    # run ztest and test supported zio backends
    - |
      if [ "${ARCH}" = "x86_64" ]; then
      sudo bash ./print_debug_info.sh &
      travis_wait 60 sudo bash ./test_istgt.sh || travis_terminate 1;
      fi
    - pwd
    - ./build_image.sh
    # If this build is running due to travis release tag, and
    # this job indicates to push the release downstream, then
    # go ahead and tag the dependent repo.
    # This is controlled by ENV RELEASE_TAG_DOWNSTREAM.
    #
    # $TRAVIS_BRANCH contains the same value as $TRAVIS_TAG.
    # Example: 1.9.0-RC1 tag and 1.9.0-RC1 branch. 
    # OpenEBS release are done from branches named as v1.9.x. 
    # Convert the TRAVIS_TAG to the corresponding release branch.
    #
    # Allow for building forked openebs pipelines. 
    # Tag the downstream repos under current repo org. 
    - if [ -z $REPO_ORG ]; then
        REPO_ORG=$(echo "$TRAVIS_REPO_SLUG" | cut -d'/' -f1);
        export REPO_ORG;
      fi
    - if [ ! -z $TRAVIS_TAG ] && [ $RELEASE_TAG_DOWNSTREAM = 1 ] && [ "$TRAVIS_REPO_SLUG" == "$REPO_ORG/istgt" ]; then
        REL_BRANCH=$(echo v$(echo "$TRAVIS_TAG" | cut -d'-' -f1 | rev | cut -d'.' -f2- | rev).x) ;
        ./buildscripts/git-release "$REPO_ORG/external-storage" "$TRAVIS_TAG" "$REL_BRANCH" || travis_terminate 1;
      fi
notifications:
  email:
    recipients:
    - sai.chaithanya@mayadata.io
